@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:600|Open+Sans');
@import '~bulma/sass/utilities/mixins'; //gets initial variables
// Fonts
$family-serif: 'Josefin Slab', serif;
$family-sans-serif: 'Open Sans', sans-serif;
$family-primary: $family-sans-serif;
$family-secondary: $family-serif;
.title {
  font-family: $family-serif;
}
// Colors
$grey-darker: #6b6051;
$light: #fff6dc;
$turquoise: #08be95;
$blue: #436799;
$green: #5ec538;
$yellow: #e9cb59;
$red: #dc556a;
$orange: #feddc9; //peach
$info: $orange;
// $primary: $blue;
// $primary: #cbf5bc;
//add overrides above this point.
@import '~bulma/bulma';

.pad-navbar {
  padding-top: 72px;
}
@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
}
